# Times World university ranking (2011-2016)

URL of the dataset: https://query.data.world/s/ly237ztepnjxemwmftzkmb6v4gbdgd'

The 'Time World University Ranking (2011-2016)'dataset is obtained from Data.World and made by the contributer Hozefa Haveliwala. The data of the university ranking is obtained from https://www.timeshighereducation.com/.

License of the dataset: Based on Data.WOrld’s Common Data License type, “The work has been dedicated to the public domain by waiving all rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.” - from https://data.world/license-help

*The file is 225kb, within the file, there are 14 columns and 2064 rows of the data.

In [1]:
import pandas as pd
import requests
import io
import bqplot
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets

In [2]:
# get the data from https://query.data.world/s/ly237ztepnjxemwmftzkmb6v4gbdgd
df = pd.read_excel('https://query.data.world/s/ly237ztepnjxemwmftzkmb6v4gbdgd')

In [3]:
# collect data with only top 50 university
is50 = pd.to_numeric(df['World_Rank'], errors = 100)<=50
df50 = df[is50]

In [12]:
names = np.unique(df50['Country'], return_inverse=True)[1]

namen = np.unique(df50['Country'], return_inverse=True)
pd.DataFrame(data = namen[0], columns = ['Country'])

                     Country
0                  Australia
1                    Belgium
2                     Canada
3                      China
4                     France
5                    Germany
6                  Hong Kong
7                      Japan
8                Netherlands
9                  Singapore
10               South Korea
11                    Sweden
12               Switzerland
13            United Kingdom
14  United States of America

In [4]:
# give each unique country a numeric id
names = np.unique(df50['Country'], return_inverse=True)[1]
new_df50 = pd.DataFrame(df50)
new_df50['country_id'] = names
new_df50['Weight'] = (names+1)/(names+1)
new_df50

,World_Rank,University_Name,Country,Teaching_Rating,Inter_Outlook_Rating,Research_Rating,Citations_Rating,Industry_Income_Rating,Total_Score,Num_Students,Student/Staff_Ratio,%_Inter_Students,%_Female_Students,Year,country_id,Weight
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,20152.0,8.9,25.0,NaN,2011,14,1.0
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96,2243.0,6.9,27.0,33,2011,14,1.0
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,11074.0,9.0,33.0,37,2011,14,1.0
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,15596.0,7.8,22.0,42,2011,14,1.0
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,7929.0,8.4,27.0,45,2011,14,1.0
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57,91.2,18812.0,11.8,34.0,46,2011,13,1.0
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,19919.0,11.6,34.0,46,2011,13,1.0
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,36186.0,16.4,15.0,50,2011,14,1.0
8,9,Imperial College London,United Kingdom,89.2,90,94.5,88.3,92.9,90.6,15060.0,11.7,51.0,37,2011,13,1.0
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,11751.0,4.4,20.0,50,2011,14,1.0
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,38206.0,10.3,15.0,52,2011,14,1.0
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,14221.0,6.9,21.0,42,2011,14,1.0
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100,86.4,15128.0,3.6,23.0,50,2011,14,1.0
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,21424.0,10.2,19.0,48,2011,14,1.0
14,15,ETH Zurich â Swiss Federal Institute of Tech...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,18178.0,14.7,37.0,31,2011,12,1.0
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,41786.0,9.0,16.0,48,2011,14,1.0
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82,66198.0,19.5,15.0,NaN,2011,2,1.0
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81,25055.0,5.9,28.0,NaN,2011,14,1.0
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,20376.0,6.5,20.0,51,2011,14,1.0
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,11885.0,13.1,35.0,39,2011,14,1.0
20,21,University of Hong Kong,Hong Kong,68.4,91.4,71.4,96.1,56.5,79.2,19835.0,17.6,38.0,53,2011,6,1.0
21,22,University College London,United Kingdom,74.0,90.8,81.6,80.6,39,78.4,26607.0,10.7,46.0,56,2011,13,1.0
22,23,University of Washington,United States of America,68.2,49,77.1,95.9,32.8,78,44020.0,11.8,13.0,53,2011,14,1.0
23,24,Duke University,United States of America,66.8,49.4,71.5,92.3,100,76.5,15172.0,4.8,17.0,49,2011,14,1.0
24,25,Northwestern University,United States of America,64.5,60.5,68.8,95.3,-,75.9,18334.0,13.8,15.0,48,2011,14,1.0
25,26,University of Tokyo,Japan,87.7,18.4,91.9,58.1,-,75.6,26199.0,5.7,10.0,NaN,2011,7,1.0
26,27,Georgia Institute of Technology,United States of America,67.9,73.2,72.6,83.2,95.1,75.3,19967.0,20.1,26.0,31,2011,14,1.0
27,28,Pohang University of Science and Technology,South Korea,69.5,32.6,62.5,96.5,100,75.1,3055.0,10.1,4.0,20,2011,10,1.0
28,29,"University of California, Santa Barbara",United States of America,56.6,64.3,68.0,98.8,89.8,75,22020.0,27.3,11.0,52,2011,14,1.0
29,30,University of British Columbia,Canada,65.1,93.3,74.8,80.3,42.6,73.8,50152.0,17.6,25.0,54,2011,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1823,21,University of Michigan,United States of America,76.8,53.7,85.2,94.4,56.3,82.4,41786.0,9.0,16.0,48,2016,14,1.0
1824,22,Carnegie Mellon University,United States of America,67.4,57.1,88.8,99.1,57.5,82.3,11885.0,13.1,35.0,39,2016,14,1.0
1825,23,London School of Economics and Political Science,United Kingdom,69.8,93.6,80.6,94.3,32.2,81.3,NaN,NaN,NaN,NaN,2016,13,1.0
1826,24,University of Edinburgh,United Kingdom,68.6,89.8,77.2,96.3,36.1,80.3,25774.0,14.1,36.0,58,2016,13,1.0
1827,25,Northwestern University,United States of America,69.8,53.9,78.4,96.5,81.2,79.5,18334.0,13.8,15.0,48,2016,14,1.0
1828,26,National University of Singapore,Singapore,71.7,96.2,84.5,79.4,49.8,79.2,31592.0,15.5,34.0,49,2016,9,1.0
1829,27,Kingâs College London,United Kingdom,64.5,93.8,75.8,93.8,40.1,78.2,21394.0,11.4,37.0,61,2016,13,1.0
1830,28,Karolinska Institute,Sweden,60.6,73.1,81.1,92.2,75.8,77.5,7774.0,11.5,22.0,70,2016,11,1.0
1831,29,LMU Munich,Germany,70.5,62.8,77.4,85.7,100,77.3,35691.0,15.5,13.0,62,2016,5,1.0
1832,30,New York University,United States of America,74.7,49.3,72.3,95.3,30.4,77.2,42056.0,6.8,19.0,55,2016,14,1.0
1833,31,Ãcole Polytechnique FÃ©dÃ©rale de Lausanne,Switzerland,61.3,98.6,67.5,94.6,65.4,76.1,9666.0,10.5,54.0,27,2016,12,1.0
1834,32,University of Washington,United States of America,67.1,51.2,70.0,98.6,43.1,75.6,44020.0,11.8,13.0,53,2016,14,1.0
1835,33,University of Melbourne,Australia,62.0,87.1,75.5,86.6,64.6,75.4,40128.0,23.7,35.0,55,2016,0,1.0
1836,34,University of British Columbia,Canada,60.2,90.5,73.2,91.5,42.6,75.3,50152.0,17.6,25.0,54,2016,2,1.0
1837,35,KU Leuven,Belgium,59.9,68.6,76.9,87.3,100,74.8,42503.0,41.9,18.0,54,2016,1,1.0
1838,36,University of Illinois at Urbana-Champaign,United States of America,64.5,45.8,81.2,86.8,52.8,74.5,42727.0,18.7,20.0,47,2016,14,1.0
1839,37,Heidelberg University,Germany,68.8,62.8,69.6,88.2,68.2,74.4,28881.0,24.5,17.0,55,2016,5,1.0
1840,38,McGill University,Canada,66.1,85.5,72.1,78.9,40.3,72.6,31326.0,13.7,23.0,56,2016,2,1.0
1841,39,"University of California, San Diego",United States of America,56.9,42.9,69.8,98.7,56.7,72.2,27233.0,6.5,11.0,48,2016,14,1.0
1842,39,"University of California, Santa Barbara",United States of America,52.6,61.5,66.0,99.2,90.4,72.2,22020.0,27.3,11.0,52,2016,14,1.0
1843,41,Georgia Institute of Technology,United States of America,57.8,71.5,72.7,86.0,73.7,72.1,19967.0,20.1,26.0,31,2016,14,1.0
1844,42,Peking University,China,77.8,49.2,72.4,69.1,100,72,40148.0,8.3,14.0,NaN,2016,3,1.0
1845,43,University of Tokyo,Japan,81.4,30.3,83.0,60.9,50.8,71.1,26199.0,5.7,10.0,NaN,2016,7,1.0
1846,44,"University of California, Davis",United States of America,60.1,58.4,72.7,84.3,57.3,71,35364.0,13.9,13.0,54,2016,14,1.0
1847,44,University of Hong Kong,Hong Kong,64.6,99.5,72.8,70.1,53.7,71,19835.0,17.6,38.0,53,2016,6,1.0
1848,46,University of Texas at Austin,United States of America,59.3,31.7,69.7,92.2,63.1,70.3,49427.0,17.4,9.0,51,2016,14,1.0
1849,47,Tsinghua University,China,73.3,39.5,83.0,58.8,100,70,39763.0,13.7,10.0,32,2016,3,1.0
1850,47,Wageningen University and Research Center,Netherlands,52.6,70.3,66.9,87.8,100,70,9248.0,17.0,21.0,56,2016,8,1.0
1851,49,Humboldt University of Berlin,Germany,63.7,62.6,77.0,73.6,36.1,69.9,29987.0,52.5,16.0,NaN,2016,5,1.0
1852,50,University of Wisconsin-Madison,United States of America,65.1,33,68.2,86.6,48.5,69.7,39655.0,10.8,11.0,51,2016,14,1.0

In [5]:
nlong = 15
nlat =14
long_bins = np.linspace(0,15, nlong+1)
lat_bins = np.linspace(0, 59, nlat+1)
hist2d, long_edges, lat_edges = np.histogram2d(x = new_df50['country_id'], y = new_df50['World_Rank'],
                                               weights=new_df50['Weight'],
                                              bins=[long_bins, lat_bins])
hist2d.shape, long_edges.shape, lat_edges.shape
hist2d

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  2.,  4.,  1.,  2.,  1.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  6.,  1.,  1.,  4.,  4.,  2.,  0.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  2.,  6.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  2.,  0.,  1.,  0.,  2.,  2.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  2.,  1.,  3.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  2.,  2.,  1.,  0.,  0.,  1.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  3.,  0.,  1.,  1.,  0.,  0.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  2.,  0.,
         0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  2.,  0.,  0.,
         0.],
       [ 0.,  0.,  2.,  4.,  0.,  0.,  0.,  1.,  2.,  1.,  1.,  1.,  0.,
         0.],
       [ 6.,  9.,  3.,  1.,  3.,  4.,  1.,  2.,  3.,  5.,  0.,  3.,  0.,
         0.],
       [18., 15., 19., 19., 20., 17., 13., 11.,  4., 16., 10.,  8.,  0.,
         0.]])

In [6]:
#long_centers = [(long_edges[i]+long_edges[i+1])*0.5 for i in range(len(long_edges)-1)]
lat_centers = [(lat_edges[i]+lat_edges[i+1])*0.5 for i in range(len(lat_edges)-1)]
#long_centers, lat_centers
lat_centers

[2.107142857142857,
 6.321428571428571,
 10.535714285714285,
 14.75,
 18.964285714285715,
 23.17857142857143,
 27.392857142857142,
 31.607142857142858,
 35.82142857142857,
 40.03571428571429,
 44.25,
 48.464285714285715,
 52.67857142857143,
 56.89285714285714]

In [7]:
# (I) Heatmap
# scales
col_sc = bqplot.ColorScale(scheme='RdPu')
x_sc = bqplot.LinearScale()
y_sc = bqplot.LinearScale()

# axes
c_ax = bqplot.ColorAxis(scale=col_sc, orientation='vertical',side='right')
x_ax = bqplot.Axis(scale=x_sc, label='Country ID')
y_ax = bqplot.Axis(scale=y_sc, orientation='vertical', label='World Rank')

# marks: heatmap
heat_map = bqplot.GridHeatMap(color=hist2d.T, row=lat_centers, column = long_edges,
                             scales={'color':col_sc, 'row':y_sc, 'column':x_sc},
                             interactions={'click':'select'},
                             anchor_style={'fill':'blue'},
                             selected_style={'opacity':1.0},
                             unselected_stye={'opacity':1.0})

In [8]:
# (II) Bar plot of the numbers of university
x_scl = bqplot.LinearScale()
y_scl = bqplot.LinearScale()
ax_xcl = bqplot.Axis(label='Year', scale=x_scl)
ax_ycl = bqplot.Axis(label='Number of Universities', scale=y_scl, 
                    orientation = 'vertical', side='left')
j,i = 0,0
longs = [long_edges[j], long_edges[j+1]]
lats = [lat_edges[i],lat_edges[i+1]]
region_mask = ( (new_df50['World_Rank']>lats[0]) & (new_df50['World_Rank']<= lats[1]) &\
              (new_df50['country_id']>=longs[0]) & (new_df50['country_id']< longs[1]))

dur, dur_edges = np.histogram(new_df50['Year'][region_mask],
                              weights=new_df50['Weight'][region_mask],
                             bins=10)
# calculate center of our bins
#dur_centers = [(dur_edges[i]+dur_edges[i+1])*0.5 for i in range(len(dur_edges)-1)]
# make histogram by hand using bqplot.Bars
duration_hist = bqplot.Bars(x=dur_edges, y=dur,
                           scales={'x':x_scl,'y':y_scl})
fig_dur = bqplot.Figure(marks=[duration_hist], axes=[ax_xcl,ax_ycl])

In [9]:
# (V) Our interactions
# lets start building our dashboard
mySelectedLabel = ipywidgets.Label()
def get_data_value(change):
    j,i = change['owner'].selected[0]
    #print(i,j)
    v = hist2d[i,j]
    mySelectedLabel.value = 'Numbers of University = ' + str(v)
    longs = [long_edges[i], long_edges[i+1]]
    lats = [lat_edges[j],lat_edges[j+1]]
    region_mask = ( (new_df50['World_Rank']>lats[0]) & (new_df50['World_Rank']<= lats[1]) &\
              (new_df50['country_id']>=longs[0]) & (new_df50['country_id']< longs[1]))
    dur, dur_edges = np.histogram(new_df50['Year'][region_mask], 
                                  
                             bins=10)
    #dur_centers = [(dur_edges[k]+dur_edges[k+1])*0.5 for k in range(len(dur_edges)-1)]
    duration_hist.x = dur_edges
    duration_hist.y = dur

In [10]:
# link this label to changes in our histogram
heat_map.observe(get_data_value, 'selected')

fig = bqplot.Figure(marks=[heat_map],axes=[c_ax,y_ax,x_ax])
#fig
ipywidgets.VBox([mySelectedLabel,ipywidgets.HBox([fig,fig_dur])])

VBox(children=(Label(value=''), HBox(children=(Figure(axes=[ColorAxis(orientation='vertical', scale=ColorScale…

Reference:
1. Link of the dataset: https://query.data.world/s/ly237ztepnjxemwmftzkmb6v4gbdgd , obtained from Data.world, and the origianl data is obtained from the world university reanking (see as reference no.3)
2. https://data.world/hhaveliw/world-university-ranking-2016
3. https://www.timeshighereducation.com/world-university-rankings The world university ranking.
4. https://www.timeshighereducation.com/world-university-rankings/methodology-world-university-rankings-2016-2017